body {
    color: black;
    background-color: white;
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.navbar {
    background-color: #285f44;
    box-shadow: 2px 5px 5px lightgrey;
}

.offcanvas {
    background-color: #285f44;
    font-size: large;
}

#closeSide {
    font-size: xx-large;
}

/* .offcanvas-title{
    width: 50%;
    height: fit-content;
    padding: 10px;
    background-color: #337756;
    border-radius: 5px;
} */
.nav-item {
    width: 100%;
    height: fit-content;
    background-color: #337756;
    border-radius: 5px;
    padding: 5px;
}

.icon {
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

#content {
    padding: 10px;
    background-color: rgb(230 232 234);
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 3px;
    height: fit-content;
    margin-top: 20px;
}

#tablecontainer{
    padding: 2px;
    background-color: white;
    border-left: 0.5px solid lightgrey;
    border-right: 0.5px solid lightgrey;
    border-bottom: 0.5px solid lightgrey;
    height: auto;
    width: fit-content;
    margin: auto;
    position:relative;
    left: 0;
    right: 0;

}

#searchbar {
    height: 40px;
}

main {
    margin: auto;
    width: 98%;
};

.table-responsive {
    overflow: auto;
    background-color: white;
    border: 1px solid lightgrey;
    height: 900px;
}

.table-responsive th {
    position: sticky;
    top: 0;
    background-color: rgb(230 232 234);
    color: black;
    border: 0.5px solid whitesmoke;
    border-bottom: 2px solid lightgrey;
    padding: 10px;
    width: fit-content;
}

table {
    border-collapse: collapse;
    width: 100%;
    counter-reset: rowNumber;
    color: black;
    background-color: white;
    cursor: pointer;
    margin: 4px;
}

tr {
    border-bottom: solid 0.5px lightgrey;
    border-radius: 10px;
}

tr:nth-child(even) {
    background-color: white;
}

tr:hover {
    border: 1px solid lightgrey;
    background-color: lightgrey;
}

.td {
    /* border: solid 0.5px #587293; */
    border: 1px solid rgb(239, 239, 239);
    border-bottom: 1px solid black;
    padding: 10px;
    height: 10px;
    width: fit-content;

}

td:hover {
    background-color: yellow;

}

.tableInfo {
    height: auto;
    width: 15%;
    background-color: white;
    padding: 5px;
    border-top-right-radius: 15px;
    border-top: 0.5px solid lightgrey;
    border-left: 0.5px solid lightgrey;
    border-right: 0.5px solid lightgrey;
    margin-bottom: 0px;
}

#searchButtons{
    background-color: white;
    border-top-right-radius: 5px;
    border-left: 0.5px solid lightgrey;
    border-right: 0.5px solid lightgrey;
    position: sticky;
    left: 0;
    right: 0;
}

.buttons {
    display: flex;
    flex-direction: row;

}

.inputs {
    background-color: transparent;
    border: transparent;
    color: black;
    text-align: left;
}

#columnError {
    display: block;
}

#modalError {
    display: none;
    margin-bottom: 0px;
    height: 40px;
}

#alertSuccess {
    display: none;
    margin-bottom: 0px;
    height: 40px;
}

#errorList {
    display: none;
    height: fit-content;
}

#openErrorList {
    display: none;
    cursor: pointer;
    animation: pulse 1s infinite;
}

#closeErrorList {
    cursor: pointer;
}

#openNewFile {
    display: none;
    width: fit-content;
}

table tr:not(:first-child) {
    counter-increment: rowNumber;
}

#table tr td:first-child::before {
    display: run-in;
    content: counter(rowNumber);
    padding: 3px;
    color: white;
    background-color: grey;
    border-radius: 3px;
    width: fit-content;
    margin-right: 20px;
    margin-left: -7px;
    
}
th:first-child{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #285f44;
    color: white;
}
td:first-child {
    position: sticky;
    left: 0;
    background-color: lightgrey;
  }
#spinner {
    display: none;
    margin: auto;
}

#tableIMG {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    height: auto;
    padding: 5px;
    width: 100%;
    border: 1px solid lightgrey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    background-color: white
}

#imgText {
    height: auto;
    width: 350px;
    border: dashed 1px #285f44;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
}

#imgText img {
    width: 250px;
    margin-left: 200px;
    border-radius: 50%;
}

.uploadMessage1 {
    border: 1px solid green;
    padding: 5px;
    color: white;
    border-radius: 10px;
    margin-bottom: 2px;
    margin-left: -100px;
    width: 100%;
    box-shadow: 10px 10px 15px grey;
}

.canvasChart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    margin: auto;
    height: auto;
    width: 300px;
}

;